body{
    background-image: url(https://images.alphacoders.com/943/943148.jpg)
}

#centerBox{
	float:left;
	text-align: center;
	background-image: linear-gradient(skyblue, #0099FF);
    padding: 1%;
    width:98%;
    height:740px;
	border-radius:20px;
	border-style:solid;
}

#footer{
	clear:both;
    text-align: center;
    background-image: linear-gradient(#0099FF, skyblue);
	padding: 1%;
	width:98%;
	height:20px;
	border-radius:20px;
	border-style:solid;
	position: relative; top: 10px;

}

#mainBox{
	height:85%;
    width:95%;
	margin: 0 auto;
    margin-top: 2.5%;

}

table{
	display:none;
	margin:auto;
	margin-top:1%;
	width:420px;
	text-align:center;
	border-collapse: collapse; /* Własność border-collapse jest używana do stworzenia połączonych obramowań */

}

table, tr, td {
	border: 3px solid black;
}

h3{
	font-family: Georgia, serif;
	margin-top:15px;
	margin-bottom:5px;
	color:white;
}

h2{
	font-family: Georgia, serif;
	margin-top:20px;
	margin-bottom:8px;
	color:white;
}

h1{
	font-family: Georgia, serif;
	color:white;
}

p{
	font-family: Georgia, serif;
	margin-top:7px;
	color:white;
	font-weight: bold;
}

a{
	font-family: Georgia, serif;
	font-weight: bold;
	color:white;
}

b{
	font-family: Arial, Helvetica, sans-serif;
	color:black;
}

#img1{
	width:22%; 
	height:auto;
	min-height: 250px;
	max-height: 600px;
	position: absolute; 
	right: 7%; 
	top: 70px; 
}

#img2{
	width:22%; 
	height:auto;
	min-height: 250px;
	max-height: 600px;
	position: absolute; 
	left: 7%; 
	top: 70px; 
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 30%; 
  height: 10px; 
  background: black;
  outline: none; /* Remove outline */
}